<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Max HTTP Header Size Sample</title>
</head>

<body>

<div>
    Header Size:
    <input type="text" id="headersize" />
</div>
<button id="send">Send</button>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        function onClick() {
            var element = document.getElementById('headersize');
            var headerSize = parseInt(element.value, 10);
            if (Number.isNaN(headerSize)) {
                headerSize = 0;
            } else if (headerSize < 0) {
                headerSize = 0;
            }

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/headers-test');
            if (headerSize > 0) {
                xhr.setRequestHeader(
                    'x-test-header',
                    Array.apply(null, {length: headerSize})
                        .map(function() {
                            return Math.ceil(Math.random() * 9);
                        })
                        .join('')
                );
            }
            xhr.send();
            xhr.onload = function () {
                alert(xhr.status + ' ' + xhr.statusText);
            };
            xhr.onerror = function () {
                alert('Request failed');
            };
        }

        const button = document.getElementById('send');
        button.addEventListener('click', onClick);
    });
</script>
</body>
</html>
